@keyframes pulse-glow {
	0%, 100% {
	  color: #a78bfa; /* roxo claro */
	  text-shadow: 0 0 5px #a78bfa, 0 0 10px #a78bfa;
	}
	50% {
	  color: #c4b5fd; /* roxo mais intenso e claro */
	  text-shadow: 0 0 10px #c4b5fd, 0 0 20px #c4b5fd;
	}
  }  

body {
	padding: 2rem;
	font-family: -apple-system, BlinkMacSystemFont, "Arial", sans-serif;
}

h1 {
	font-size: 16px;
	margin-top: 0;
}

p {
	color: rgb(107, 114, 128);
	font-size: 15px;
	margin-bottom: 10px;
	margin-top: 5px;
}

.card {
	max-width: 620px;
	margin: 0 auto;
	padding: 16px;
	border: 1px solid lightgray;
	border-radius: 16px;
}

.card p:last-child {
	margin-bottom: 0;
}

